html, body {
    min-height: 100%;
}

.btn-custom {
    width: 25%;
}

.login-container {
    
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.card {
    background-color: rgba(200, 200, 200, 200);
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}

.card .btn-extended {
    width: 80%;
    margin: 10% 0 10% 0;
}

.title {
    font-family: 'Roboto';
}